---
---

@import "{{ site.theme }}";

header {
  display: none;
}
h1, h2, h3 {
  text-align: center;
  font-family: CronosPro;
  font-weight:normal;
  font-style:normal;
}
@font-face {
    font-family: CronosPro;
    src: url("fonts/CronosPro-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
.oldstyle {
    font-variant-numeric: oldstyle-nums;
    font-family: CronosPro;
}
.demotext {
  font-variant: small-caps;
}

.kerning {
  font-kerning: auto;
}
