---
---

@import "{{ site.theme }}";

header {
  display: none;
}
h1, h2, h3 {
  text-align: center;
}
html { 
  background: url(images/endpapers.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
