---
---

@import "{{ site.theme }}";

header {
  display: none;
}
h1, h2, h3 {
  text-align: center;
}
header {
  background-image: url(https://tuxkernel.github.io/julian/images/endpapers.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
